Assets/Resources/PlayerPrefsAccount
Assets/Resources/PlayerPrefsAccount.meta
Assets/Resources/DeveloperOptions
Assets/Resources/DeveloperOptions.meta
Assets/Resources/PlayerCompetition
Assets/Resources/PlayerCompetition.meta

GeoData/DataForTest/Temp
GeoData/Downloads/*.xml
GeoData/Downloads/*.txt
Build/

/*.*
 
.idea
Builds
Library
obj
Logs
!.gitignore 

 
/Temp/
/GeoData/DataForTest/Temp/
/GeoData/user.keystore
